= javascript_include_tag "/javascripts/ckeditor/ckeditor.js"
= semantic_form_for [:admin, @layer] do |f|
  = f.inputs :name => "Informations georchestra" do 
    = f.input :wms_url, :as => :string
    = f.input :name
    = f.input :metadata_url, :as => :string
    = f.input :geo_server

  = f.inputs :name => "Informations couche" do 
    = f.input :title
    = f.input :description, :input_html => { :cols => 10}
    = f.input :template, :as => :ckeditor, :input_html => { :cols => 10}
    = f.input :themes#1, :collection => Taxon.themes_select
    = f.input :filter
    = f.input :tag_list

  = f.buttons do
    = f.submit
= @test
