= javascript_include_tag "/javascripts/ckeditor/ckeditor.js"

= semantic_form_for [:admin, @layer] do |f|
  .pill-content
    = f.inputs :name => "Informations georchestra" do 
      = f.input :wms_url, :as => :string, :hint => "http://geobretagne.fr/geoserver/wms"
      = f.input :name
      %li.searchLi
        %label
          &nbsp;
        %button#geoserver_check.btn.small
          Rechercher
      = f.input :metadata_url, :as => :string
      %li.searchLi
        %label
          &nbsp;
        %button#geonetwork_check.btn.small
          Rechercher
      = f.input :data_source

  = f.inputs :name => "Informations couche" do 
    = f.input :title
    = f.input :description, :input_html => { :cols => 10}
    = f.input :theme_ids, :collection => Taxon.themes_select(f.object.theme_ids),  :multiple => "multiple" 
    = f.input :filter, :include_blank => false
    = f.input :tag_list
    = f.input :published, :as => :radio unless current_admin_user.role('super_admin')
    = f.input :publication_date
    = f.input :modification_date
    = f.input :template, :input_html => { :cols => 10}, :as => :ckeditor
    = f.input :credits
    = f.input :rights
    %input{:type => "hidden", :id => "layer", :value => @layer.id} 

  = f.buttons do
    = f.submit 
