- if @metadatas.empty?
  .alert-message.info
    %p Aucune couche disponible
- else
  %h3
    = @search.result[:total]
    r&eacute;sultats

  - @metadatas.sort_by!{|l| l.title}
  =# simple_form_for(:import, :url => import_admin_capabilities_path, :builder => SimpleBootstrapFormBuilder) do |f|
  = semantic_form_for :import, :url => import_meta_admin_layers_path do |f|
    = f.input "server_url", :as => :hidden, :input_html => { :value => params[:server][:url] }
    %table.sortable.index_table
      %thead
        %tr
          %th.nowrap
            %div
              Importer ?
            %div.center
              = check_box_tag 'check_all'
          %th Informations
          %th Description

      %tbody
        - @metadatas.each do |l|
          - exist =  l.layer.nil? ? false : @existing_layers.include?( l.layer.name)
          - css_class = cycle('odd', 'even')

          %tr{:class => exist ? "exist #{css_class}" : "#{ css_class } not_exist"}
            %td.nowrap
              %div
                = check_box_tag "import[layer_name][]", l.identifier
              %div
                %span.label{:class => exist ? "success" : "warning"}
                  - if exist
                    Pr&eacute;sente
                  - else
                    Non import&eacute;e

            %td
              .title
                %b
                  Titre :
                = l.title
              .tags
                %b
                  Mots cl&eacute;s :
                = l.tag_list
            %td
              .desc
                %b Description
                = l.description
              .rights
                %b Droits
                = l.rights
              .source
                %b
                  Source
                = l.source
    .input
      = f.submit 'importer', :class => 'btn primary'
