- content_for :javascripts do
  = javascript_include_tag "jquery/jquery.tablesorter.min.js"
  = javascript_include_tag :capabilities

= semantic_form_for :server, :url => list_capabilities_admin_layers_path do |f|
  = f.inputs "Serveur WMS" do
    = f.input :url, :hint => "http://geobretagne.fr/geoserver/wms"
    = f.input :type, :as => :radio, :collection => [ "Geonetwork", "Geoserver"], :checked => "checked"
    = f.input :server_id, :as => :select, :collection => GeoServer.all, :label => "Serveur Correspondant (optionnel)", :required => false
    %br
    .block-message.alert-message
      %h3
        Format des urls :
      %p
        
        %span
          %b<
            Geoserver: 
          http://geobretagne.fr/geoserver/
          %b><
            wms
          
      %p
        %span
          %b
            Geonetwork:
          %span<
            http://geobretagne.fr/geonetwork/
          %b><
            srv/en/csw

  = f.buttons do
    = f.submit "Rechercher", :class => "primary btn"
- if @layers
  = render :partial => "admin/layers/layers_list"
- elsif @metadatas
  = render :partial => "admin/layers/metadatas_list"

