.no_visualisor.cms
  = render :partial => "layers/search_form"
  .clear
  %h2 
    Projet(s) de la catégories
    = @taxon.name
  .clear
  = paginate @geo_contexts
  .clear
  = render "geo_contexts/geo_context_list"
  .clear
  = paginate @geo_contexts
