= javascript_include_tag "/javascripts/ckeditor/ckeditor.js"

= semantic_form_for [:admin, @geo_context] do |f|
  = f.inputs do
    = f.input :name
    = f.input :diffusion_date
    = f.input :group
    = f.input :visuel
    = f.input :taxon
    = f.input :wmc
    = f.input :description
    = f.input :wmc_name
    = f.input :tag_list
  = f.buttons do
    = f.submit
