= javascript_include_tag "/javascripts/ckeditor/ckeditor.js"
= semantic_form_for [:admin, @group_project] do |f|
  .pill-content
    = f.inputs do
      = f.input :name
      = f.input :long_name
      = f.input :description, :as => :ckeditor
      = f.input :position

  = f.buttons do
    = f.submit 
