- title = "Groupement de projets : #{@group.name}"

.no_visualisor.cms
  %h1
    = @group.long_name || @group.name
  = @group.description.html_safe
 
  = paginate @geo_contexts
  = render :partial => "geo_contexts/geo_context_list"
  = paginate @geo_contexts
