= simple_form_for(@geo_context, :builder => SimpleBootstrapFormBuilder) do |f|
  = render :partial => "shared/errors", :locals => { :entity => @geo_context}
  = f.input :name
  = f.input :description
  = f.input :wmc_name
  = f.input :keywords
  = f.association :taxon
  = f.input :wmc
  .actions
    - if f.object.new_record?
      = link_to 'Annuler', geo_contexts_path, :class => 'btn'
    - else
      = link_to 'Annuler', @geo_context, :class => 'btn'
    = f.submit 'Valider', :class => 'btn primary'
