= simple_form_for(@geo_context, :builder => BootstrapFormBuilder) do |f|
  - if @geo_context.errors.any?
    #error_explanation
      %h2= "#{pluralize(@geo_context.errors.count, "error")} prohibited this geo_context from being saved:"
      %ul
        - @geo_context.errors.full_messages.each do |msg|
          %li= msg

  = f.inputs do
    = f.text_field :name, :class => 'span8'
    = f.text_area :description, :class => 'span8'
    = f.text_field :wmc_name, :class => 'span8'
    = f.text_field :keywords, :class => 'span8'
    = f.file_field :wmc
  .actions
    - if f.object.new_record?
      = link_to 'Annuler', geo_contexts_path, :class => 'btn'
    - else
      = link_to 'Annuler', @geo_context, :class => 'btn'
    = f.submit 'Valider', :class => 'btn primary'
