- title do
  %h1 Listing Geo Contexts

= paginate @geo_contexts

%table.listing
  %thead
    %tr
      %th Name
      %th Wmc name
      %th Keywords &amp; desription

  %tbody
    - @geo_contexts.each do |geo_context|
      %tr
        %td
          %h3.name
            = link_to geo_context.name, geo_context
          %p
            = geo_context.category.name if geo_context.category
          %p
            = geo_context.tags.map(&:name).join(', ')
          .row-actions
            = link_to 'Voir', geo_context
            \|
            = link_to 'Modifier', edit_geo_context_path(geo_context)
            \|
            = link_to 'Supprimer', geo_context, :confirm => 'Are you sure?', :method => :delete
        %td= geo_context.wmc_name
        %td
          %p
            = geo_context.keywords
          %br
          %p
            = truncate(geo_context.description, :length => 35)

%br
.actions
  = link_to t(:new_geo_context) , new_geo_context_path, :class => 'btn primary large'
