= map_js
=# render :partial => "shared/category_chooser_modal"              
#category_chooser
  =# render :partial => "shared/category_chooser_accordion"              
  = render :partial => "shared/tabs"
#map_container
  = render :partial => 'shared/content_toolbar'
  #map
    %span#coords
    = render :partial => "shared/map_infos", :locals => { :couche => @geo_context , :title => @geo_context.name }
    = link_to 'wmc', @geo_context.wmc.url, :id => "wmc"

  .clear
=# render :partial => "shared/category_chooser_modal"              
- content_for :javascripts do 
  = javascript_include_tag "sharedControlers"
  = javascript_include_tag "mapInit"
  - if controller_name != "home"
    :javascript
      $(document).ready(function(){
      $('#tabs').find('li').not('.active').find('a').trigger('click.tab.data-api')
      });
