- title do
  %h1 
    - if @geo_context.category.nil?
      = Category.root.name
    - else
      = @geo_context.category.self_and_ancestors.map(&:name).join(' » '.html_safe).html_safe

%p#notice= notice
.row
  = render :partial => 'shared/content_toolbar'
.row
  #map
    .map-infos
      .slider-container
        .info-slider.up
      .modal-header
        %h3
          = @geo_context.name
      .modal-body
        %b.label.success Description :
        = @geo_context.description 
        .clear
        %b.label.success WMC :
        = link_to @geo_context.wmc_name, @geo_context.wmc.url, :only_path => false, :id => "wmc"
        .clear
        %b.label.success Mots cl&eacute;s :
        = @geo_context.keywords
#layer_dialog{:title => "S&eacute;lection de couche".html_safe}
  - categories = Category.roots
  #layer_tab
    %ul.tabs
      - categories.each_with_index do |c,i|
        %li{ :class => (i == 0) ? "active" : ""}
          %a{:href => "##{c.name.to_slug}"}
            = truncate(c.name, :length => 25)
    .pill-content
      - categories.each_with_index do |c,i|
        %div{:id => c.name.to_slug, :class => (i == 0) ? "active" : ""}
          = c.name
          .layers_selection.media-grid
            - 10.times do
              .row.layer_selection
                .layer_img
                  = link_to  (image_tag 'carte.png', :class => "thumbnail"), '#'
                .layer_info 
                  .span7
                    %b.label.notice
                      Info:
                    %span
                      infos sur la couche
                  .clear
                  .span6
                    %b.label.notice
                      description: 
                    %span
                      description sur la couche
                .clear
              
.row
  .actions{:class => "noleftpadding"}
    = link_to 'Retour', geo_contexts_path, :class => "btn"
    = link_to 'Editer', edit_geo_context_path(@geo_context), :class => "btn primary"

  = javascript_include_tag "mapInit"
