.no_visualisor.cms
  = render :partial => "layers/search_form"
  .clear
  %h2
    = t(:tag).html_safe
    = @tag.name
  .clear
  = paginate @layers
  .clear
  = render :partial => "layers/layer_list", :locals => { :layers => @layers }
  .clear
  = paginate @layers
