%h2 Filtres
.filters
  - Filter.all.each do |f|
    %div.pop{ :rel => "popover", :"data-original-title" => f.libelle}
      = check_box_tag "filter", f.name.downcase
      = "#{f.name} (#{f.layers.published.count})"
  .clear
  %a{ :href => "#", :id => "removeFilters" }
    Supprimer les filtres
%h2 
  Th&egrave;mes
  
.right-menu#layer_listing
  - Taxon.themes.each do |t|
    - parent = t.children.any?
    - layers = t.layers.published unless parent
    %h3{:class => parent ? "grand_parent" : "parent", "data-panel-id" => "layer_list_#{t.id}" }
      = link_to '#' do
        %span
          = t.name
        %span.nb_layers
          = "(#{parent ? t.children_layers_length : layers.length})"

    - if parent
      .children
        - t.descendants.includes(:layers).each do |c|
          - layers = c.layers.published
          %h4.parent{ "data-panel-id" => "layer_list_#{c.id}"}
            = link_to '#' do
              %span
                = c.name
              %span.nb_layers
                = "(#{layers.length})"
          - content_for :layers_availables do
            = render :partial => "shared/layers_list", :locals => { :layers => layers, :theme => c }  
    - else
      - content_for :layers_availables do
        = render :partial => "shared/layers_list", :locals => { :layers => layers, :theme => t }  
