%h2 
  Th&egrave;mes
  
.right-menu
  - Taxon.find('themes').children.each do |t|
    - parent = t.children.any?
    %h3{:class => parent ? "" : "parent" }
      = link_to t.name, '#'#,  "data-original-title" => c.description, :class => "twipsy_link left"
    - if parent
      .children
        - t.children.each do |c|
          %h4.parent
            = link_to c.name, '#'#,  "data-original-title" => c.description, :class => "twipsy_link left"
          = render :partial => "shared/layers_list", :locals => { :layers => c.layers }  
    - else
      = render :partial => "shared/layers_list", :locals => { :layers => t.layers }  

%h2 Filtres
%h2 L&eacute;gende

#legende
  %div
    %p
    %img(onerror="this.src='#{image_path 'error.png'}'")
