.fg-toolbar.ui-widget-header.ui-corner-all.ui-helper-clearfix
  .fg-buttonset
    =# link_to '#', { :class => 'fg-button ui-state-default fg-button-icon-solo ui-corner-all full_screen_btn' } do
    =# link_to '+', '#', { :class => 'fg-button ui-state-default ui-corner-all add_layer_btn' }
    =# link_to '?', '#', { :class => "legend"}
    = link_to  '#', { :class => "ui-corner-all ui-icon-with-text", :id => "layers_list_btn"} do
      .ui-icon.ui-icon-circle-arrow-s.floating-icon
      %span
        Couches disponibles
    = link_to  '#', { :class => "ui-corner-all ui-icon-with-text full_screen_btn", :id => "full_screen_btn"} do
      .ui-icon.ui-icon-arrow-4-diag
      %span
        Agrandir
    - twipsy = {:"data-original-title" => "Double Clic pour valider le trac&eacute;.".html_safe, :rel => "popover" }
    = link_to '#', { :class => "ui-corner-all ui-icon-with-text measure_control", :id => "ruler_measure", :measure_type => "line" }.merge(twipsy) do
      .ui-icon.ruler
      %span
        Distance
    = link_to '#', { :class => "ui-corner-all ui-icon-with-text measure_control", :id => "square_measure" , :measure_type => "polygon" }.merge(twipsy) do
      .ui-icon.square_ruler
      %span
        Surface
    = link_to '#', { :class => "ui-corner-all ui-icon-with-text", :id => "hand_control"} do
      .ui-icon.hand
    = link_to  '#', { :class => "ui-corner-all ui-icon-with-text full_screen_btn", :id => "legend_btn"} do
      .ui-icon.ui-icon-info
      %span
        L&eacute;gende
    %span#output_measure
    .ui-helper-clearfix
