.fg-toolbar.ui-widget-header.ui-helper-clearfix
  .fg-buttonset
    = link_to  '#', { :class => "ui-icon-with-text ", :id => "layers_list_btn"} do
      .ui-icon.ui-icon-circle-arrow-e.floating-icon
      %span
        Liste couches
    /position initiale 
    = link_to  '#', { :class => "ui-icon-with-text selectable left_twipsy",
                      :id => "fullscreen-btn",
                      :"data-original-title" => "Passer en affichage plein &eacute;cran".html_safe,
                    } do
      .ui-icon.ui-icon-arrow-4-diag
    /position initiale 
    = link_to  '#', { :class => "ui-icon-with-text selectable right_twipsy",
                      :id => "position_btn",
                      :"data-original-title" => "Revenir &agrave; la position initiale".html_safe,
                    } do
      .ui-icon
    /hand control
    = link_to '#', { :class => "ui-icon-with-text measure_control selectable right_twipsy",
                      :"data-original-title" => "Se d&eacute;placer".html_safe, 
                      :id => "hand_control"} do
      .ui-icon.hand
    /Zoom in
    = link_to '#', { :class => "ui-icon-with-text selectable measure_control right_twipsy", 
                    :"data-original-title" => "Zoomer sur le territoire".html_safe,
                    :id => "zoomin", 
                    :measure_type => "zoomin" } do
      .ui-icon.square_ruler
    %p.pipe 
      |
    /line measurement
    = link_to '#', { :class => "ui-icon-with-text selectable measure_control first right_twipsy",
                    :"data-original-title" => "Mesurer une distance. <br />Double cliquer pour valider le trac&eacute;.".html_safe,
                    :id => "ruler_measure", :measure_type => "line" } do
      .ui-icon.ruler
    /area measurement
    = link_to '#', { :class => "ui-icon-with-text selectable measure_control right_twipsy", 
                    :"data-original-title" => "Mesurer une surface. <br />Double cliquer pour valider le trac&eacute;.".html_safe,
                    :id => "square_measure", 
                    :measure_type => "polygon" } do
      .ui-icon.square_ruler
    %p.pipe 
      |
    /expert mode
    = link_to  '#', { :class => "ui-icon-with-text selectable first right_twipsy",
                      :"data-original-title" => "Plus de fonctionnalit&eacute;s sur GeoBretagne".html_safe,
                      :id => "mapfishapp_btn"} do
      .ui-icon.square_ruler
    /help
    = link_to  '#', { :class => "ui-icon-with-text selectable right_twipsy",
                      :"data-original-title" => "Acc&eacute;der &agrave; l'aide".html_safe,
                      :id => "help_btn"} do
      .ui-icon
    %p.pipe 
      |
    /print
    = link_to  '#', { :class => "ui-icon-with-text selectable first right_twipsy", 
                      :"data-original-title" => "Voir la version imprimable".html_safe,
                      :id => "print_btn"} do
      .ui-icon.square_ruler
    /save
    = link_to  '#', { :class => "ui-icon-with-text selectable right_twipsy", 
                      :"data-original-title" => "Sauvegarder ma carte".html_safe,
                      :id => "save_btn"} do
      .ui-icon
    /load
    = link_to  '#', { :class => "ui-icon-with-text selectable right_twipsy", 
                       :"data-original-title" => "Charger une carte".html_safe,
                      :id => "load_btn"} do
      .ui-icon.square_ruler

    %input{ :type => "text", :placeholder => "Centrer sur...", :id => "btn-geoname"}
    %span#output_measure.infos
    /%span#coords.infos
    %img(id="progress" src="#{image_path 'loading.gif'}")
    .ui-helper-clearfix

#save_form{:title => "Sauvegarder ma carte"}
  %p
  %label Nom* : 
  %input{ :type => "text", :id => "map_name"}
#load_form{:title => "Charger ma carte en WMC"}
  %input{ :type => "hidden", :id => "authenticity_token", :value => "#{form_authenticity_token}"}
