.fg-toolbar.ui-widget-header.ui-helper-clearfix
  .fg-buttonset
    =# link_to '#', { :class => 'fg-button ui-state-default fg-button-icon-solo full_screen_btn' } do
    =# link_to '+', '#', { :class => 'fg-button ui-state-default add_layer_btn' }
    =# link_to '?', '#', { :class => "legend"}
    = link_to  '#', { :class => "ui-icon-with-text", :id => "layers_list_btn"} do
      .ui-icon.ui-icon-circle-arrow-s.floating-icon
      %span
        Couches disponibles
    = link_to  '#', { :class => "ui-icon-with-text full_screen_btn", :id => "full_screen_btn"} do
      .ui-icon.ui-icon-arrow-4-diag
    - twipsy = {:"data-original-title" => "Double Clic pour valider le trac&eacute;.".html_safe, :rel => "popover" }
    = link_to '#', { :class => "ui-icon-with-text measure_control", :id => "ruler_measure", :measure_type => "line" }.merge(twipsy) do
      .ui-icon.ruler
    = link_to '#', { :class => "ui-icon-with-text measure_control", :id => "square_measure" , :measure_type => "polygon" }.merge(twipsy) do
      .ui-icon.square_ruler
    = link_to '#', { :class => "ui-icon-with-text", :id => "hand_control"} do
      .ui-icon.hand
    - twipsy = {:"data-original-title" => "Revenir &agrave; la position initiale".html_safe, :rel => "popover" }
    = link_to  '#', { :class => "ui-icon-with-text", :id => "position_btn"}.merge(twipsy) do
      .ui-icon.ui-icon-pin-s
    - twipsy = {:"data-original-title" => "Voir la version imprimable".html_safe, :rel => "popover" }
    = link_to  '#', { :class => "ui-icon-with-text", :id => "print_btn"}.merge(twipsy) do
      .ui-icon.ui-icon-print
    - twipsy = {:"data-original-title" => "Passer au mode expert".html_safe, :rel => "popover" }
    = link_to  '#', { :class => "ui-icon-with-text", :id => "mapfishapp_btn"}.merge(twipsy) do
      .ui-icon.ui-icon-wrench
    - twipsy = {:"data-original-title" => "Acc&eacute;der &agrave; l'aide".html_safe, :rel => "popover" }
    = link_to  '#', { :class => "ui-icon-with-text", :id => "help_btn"}.merge(twipsy) do
      .ui-icon.ui-icon-help
    %span#output_measure.infos
    %span#projection.infos
    %span#coords.infos
    %img(id="progress" src="#{image_path 'loading.gif'}")
    .ui-helper-clearfix
