.category_description{:id => "layer_list_#{theme.id}"}
  .header.category-header
    %div.title-header
      = theme.name 
      %span.nbLayers
        = "(#{ layers.length})"
    .clear

  .category_layers
    - layers.each_with_index do |l, i|
      .category_layer_container{ :layer_name => l.name, 
                                  :wms_url => l.wms_url, 
                                  :model_id => l.id, 
                                  :layer_title => l.title, 
                                  :class => [l.uniq_identifier, l.filter_name.downcase].join(' '), 
                                  :layer_class => l.uniq_identifier,
                                  :metadata => l.metadata_link,
                                  :id => l.uniq_identifier, 
                                  :credits => l.credits, 
                                  :"data-original-title" => l.description }
        %a{:href => "#", :class => "ui-icon-with-text selected_icon btn-check"}
          %span.ui-icon
        .layer_selection
          .layer_info
            %span.ui-icon{:class => l.external ? "ui-icon-extlink" : "empty", :"data-original-title" => l.external? ? l.data_source_name : "" }
            %span
              = l.title
            .clear
          .clear

