.category_description
  .header
    %span.title-header
      = theme.name 
      %span.nbLayers
        = "(#{ layers.length})"
  .category_layers
    - layers.each_with_index do |l, i|
      .category_layer_container{ :layer_name => l.name, 
                                  :wms_url => l.wms_url, 
                                  :model_id => l.id, 
                                  :layer_title => l.title, 
                                  :class => [l.uniq_identifier, l.filter_name.downcase].join(' '), 
                                  :layer_class => l.uniq_identifier, 
                                  :"data-original-title" => l.description }
        .selected_icon
        .row.layer_selection
          .layer_img
            = link_to  (image_tag 'carte.png', :class => "mini_thumbnail"), '#'
          .layer_info
            %span
              = l.title
            .clear
          .clear

