%h3
  = link_to 'Geocms', root_path
%ul.nav
  %li
    = link_to 'Geo Contexts', root_path
  %li
    = link_to "Couches", layers_path
  %li
    = link_to "Cat&eacute;gories".html_safe, categories_path

%ul.nav.secondary-nav

  %li.dropdown
    - if current_user
      = link_to('Mon compte', edit_user_registration_path)
    - else
      = link_to('Inscription', new_user_registration_path)

  %li.dropdown
    - if current_user
      = button_to('D&eacute;connexion'.html_safe, destroy_user_session_path,  :method => :delete, :class => 'active')
    - else
      = link_to('Connexion', new_user_session_path)
