=# @layer.category.name
- content_for :javascripts do
  = javascript_include_tag 'jquery/jquery.multiselect.min.js'
  = javascript_include_tag 'jquery/multiselectInit'
- content_for :stylesheets do 
  = stylesheet_link_tag 'jquery/jquery.multiselect.css'

= simple_form_for(@layer, :builder => SimpleBootstrapFormBuilder) do |f|
  = render :partial => "shared/errors", :locals => { :entity => @layer }

  .inputs
    = f.input :wms_url, :as => :string, :input_html => {"data-content" => "Its amazing","data-original-title" => "Url wms" , :rel => "popover"}
    = f.input :name, :label => 'Layer name'
    = input_popover("Nome de la couche") do 
      %p
        P&eacute;cisez un nom explicite
    = f.input :title
    - a = nested_set_options(Category){ |i| "#{'--' * i.level} #{i.name}" }
    = f.association :categories, :class => "multiselect", :collection => a
    = f.input :description, :as => :text
    = f.input :origin
    = f.input :metadata_url, :as => :string

  .actions
    = f.button :submit, "Valider", :class => "btn primary"
    = link_to "Annuler", layers_path, :class => "btn"

