=# @layer.category.name
= multiselect_files

= simple_form_for(@layer, :builder => SimpleBootstrapFormBuilder) do |f|
  = render :partial => "shared/errors", :locals => { :entity => @layer }

  .inputs
    = f.input :wms_url, :as => :string, :input_html => {"data-content" => "Its amazing","data-original-title" => "Url wms" , :rel => "popover"}
    = f.input :name, :label => 'Layer name'
    = input_popover("Nome de la couche") do 
      %p
        P&eacute;cisez un nom explicite
    = f.input :title
    = f.association :taxons, :class => "multiselect", :label => "Cat&eacute;gories"
    = f.input :description, :as => :text
    = f.input :origin
    = f.input :metadata_url, :as => :string
    = f.input :tag_list

  .actions
    = f.button :submit, "Valider", :class => "btn primary"
    = link_to "Annuler", layers_path, :class => "btn"

