%li.well
  .image
    
  .content
    .title
      = link_to layer.title, layer
    .content_value
      %b
        Description :
      = layer.description
    .content_value
      %b
        Metadata url :
      = link_to truncate(layer.metadata_url, :length => 50), layer.metadata_url

    .content_value
      %b
        Derni&egrave;re modification :
      = layer.date_modification

    .content_value
      %b
        Cat&eacute;gories :
      = layer.category_list
    .content_value
      %b
        Informations :
      = truncate( layer.description, :length => 150)
    .content_value
      %b
        Mots cl&eacute;s :
      = layer.tag_list



-#%tr
  %td
    .name
      = layer.name
    .row-actions
      = link_to 'Voir', layer
  %td
    %div
      %b
        WMS URL :
      = truncate(layer.wms_url, :length => 50)
    %div
      %b
        Metadata url :
      = truncate(layer.metadata_url, :length => 50)

  %td
    %p
      %b
        Cat&eacute;gories :
      = layer.category_list
    %p
      %b
        Informations :
      = truncate( layer.description, :length => 150)
    %p
      %b
        Mots cl&eacute;s :
      = layer.tag_list

