%li.well
  .image
    = link_to layer do
      %img{ :src => layer.thumbnail_url({"WIDTH" => "150", "HEIGHT" => "100" })}
  .content
    .title
      = link_to layer.title, layer
    .content_value
      %b
        = link_to "Metadonn&eacute;e".html_safe , layer.metadata_url, :target => "_blank"

    .content_value
      %b
        Derni&egrave;re modification :
      = layer.date_modification

    .content_value
      %b
        Cat&eacute;gories :
      =# layer.category_list
      - layer.themes.each do |tax|
        = link_to tax.name, taxon_path(tax)

    .content_value
      %b
        Mots cl&eacute;s :
      - layer.tags.each do |tag|
        = link_to tag.name, tag_path(tag)
        =# layer.tag_list
    .content_value
      %b
        Description :
      = layer.description.html_safe



-#%tr
  %td
    .name
      = layer.name
    .row-actions
      = link_to 'Voir', layer
  %td
    %div
      %b
        WMS URL :
      = truncate(layer.wms_url, :length => 50)
    %div
      %b
        Metadata url :
      = truncate(layer.metadata_url, :length => 50)

  %td
    %p
      %b
        Cat&eacute;gories :
      = layer.category_list
    %p
      %b
        Informations :
      = truncate( layer.description, :length => 150)
    %p
      %b
        Mots cl&eacute;s :
      = layer.tag_list

