%li.well{:class => cycle('odd','even')}
  .image
    = link_to layer do
      %img{ :src => layer.thumb }
  .content
    .title
      = link_to layer.title, layer
    - unless layer.metadata_link.blank?
      .content_value
        %b
          = link_to "M&eacute;tadonn&eacute;e".html_safe , layer.metadata_link, :target => "_blank", :class => "metadata_link"

    .content_value
      %b
        Date de diffusion :
      = layer.last_date.strftime('%d/%m/%Y')
    .content_value
      %b
        Cat&eacute;gorie :
      - layer.themes.each do |tax|
        = link_to tax.name, taxon_path(tax)
    - unless layer.tags.empty?
      .content_value
        %b
          Mots cl&eacute;s :
        - layer.tags.each do |tag|
          = link_to tag.name, tag_path(tag)
    .content_value
      %b
        Description :
      = layer.description.html_safe
    - unless layer.credits.blank?
      .content_value
        %b
          Source :
        = truncate(layer.credits, :length => 150)



-#%tr
  %td
    .name
      = layer.name
    .row-actions
      = link_to 'Voir', layer
  %td
    %div
      %b
        WMS URL :
      = truncate(layer.wms_url, :length => 50)
    %div
      %b
        Metadata url :
      = truncate(layer.metadata_url, :length => 50)

  %td
    %p
      %b
        Cat&eacute;gories :
      = layer.category_list
    %p
      %b
        Informations :
      = truncate( layer.description, :length => 150)
    %p
      %b
        Mots cl&eacute;s :
      = layer.tag_list

