%tr
  %td
    .name
      = layer.name
    .row-actions
      = link_to 'Voir', layer
  %td
    %div
      %b
        WMS URL :
      = truncate(layer.wms_url, :length => 50)
    %div
      %b
        Metadata url :
      = truncate(layer.metadata_url, :length => 50)

  %td
    %p
      %b
        Cat&eacute;gories :
      = layer.category_list
    %p
      %b
        Informations :
      = truncate( layer.description, :length => 150)
    %p
      %b
        Mots cl&eacute;s :
      = layer.tag_list

