#map

= content_for :header do
  = link_to  '#', { :class => "ui-icon-with-text", :id => "realprint_btn"} do
    .ui-icon.ui-icon-print 

= content_for :footer do
  #legende

= content_for :javascripts do
  = javascript_include_tag "openLayersEssentials"
  = javascript_include_tag "sharedControlers"
  :javascript
    $(document).ready(function(){
      $.get("/gc/#{@wmc}",
            function(data){
              try {
                map = format.read(data, {map: mapOptions});
                map.removeControl(map.controls[1]);
                map.controls.forEach(function(e) {
                  e.deactivate();
                });
                $("#legende").mustachu().mustachu("legendeNodes", map.layers);
              } catch(e) {
                console.log(e);
              }
            });
    });

= content_for :stylesheets do
  = stylesheet_link_tag "print", :media => "all"
