#map

= content_for :header do
  = link_to  '#', { :class => "ui-icon-with-text", :id => "realprint_btn", :style => "display:block"} do
    %span#print_btn.ui-icon{:style => "margin-right: 4px"}
      .ui-icon.square_ruler
    Imprimer

= content_for :footer do
  #legende
  #credits
    %h3
      = "Cr&eacute;dits".html_safe  

= content_for :javascripts do
  = javascript_include_tag "openLayersEssentials"
  :javascript
    $(document).ready(function(){
      $.get("/gc/#{@wmc}",
        function(data){
          try {
            map = format.read(data, {map: mapOptions});
            map.removeControl(map.controls[1]);
            map.controls.forEach(function(e) {
              e.deactivate();
            });
            // Q&D load of credits
            $.each(map.layers, function(i, layer) {
              $.ajax({
                url: "/layers/"+layer.params.LAYERS+"/find.json",
                type: "GET",
                success: function(data) {
                   if(data) {
                     if(data.credits) {
                       $("#credits").append("<div>"+data.credits+"</div>");
                     }
                   }
                },
                dataType: "json"
              });
            });
            $("#legende").mustachu().mustachu("legendeNodes", map.layers);
            $('#realprint_btn').click(function(e){
              e.preventDefault();
              print();
            }); 
          } catch(e) {
          }
        });
    });

= content_for :stylesheets do
  = stylesheet_link_tag "print", :media => "all"
