#map

= content_for :header do
  = link_to  '#', { :class => "ui-icon-with-text", :id => "realprint_btn"} do
    %span#print_btn.ui-icon{:style => "margin-right: 4px"}
      .ui-icon.square_ruler
    Imprimer

= content_for :footer do
  %h3= "L&eacute;gende".html_safe
  #legende
  .clear
  %h3= "Cr&eacute;dits".html_safe  
  #credits
  .clear

= content_for :javascripts do
  = javascript_include_tag "openLayersEssentials"
  :javascript
    var wmc = "#{escape_javascript(@wmc)}";
    var map;
  = javascript_include_tag "print"
= content_for :stylesheets do
  = stylesheet_link_tag "print", :media => "all"
  = stylesheet_link_tag "only_print", :media => "print"
