- title do
  %h1 
    = @layer.category_list
= render :partial => 'shared/content_toolbar'

= map_js

= content_for :javascripts do
  :javascript
    var layerNames = "#{@layer.name}";
    var layerWmsUrl = "#{@layer.wms_url}";
    var layerTitle = "#{@layer.title}";
  = javascript_include_tag "mapLayerInit"
  = javascript_include_tag "sharedControlers"

#category_chooser
  = render :partial => "shared/legend", :locals => { :layer => @layer }
  = render :partial => "shared/category_chooser_accordion"              
#map
  .map-infos
    .slider-container
      .info-slider.up
    .modal-header
      %h3
        = @layer.name
    .modal-body
      %b.label.success Description :
      = @layer.description 
    #features
      .clear

=# render :partial => "shared/category_chooser_modal"              
