- title do
  %h1 
    = @layer.category_list
= render :partial => 'shared/content_toolbar'
%div
  = render :partial => "shared/category_chooser_accordion"              
  #map
    .map-infos
      .slider-container
        .info-slider.up
      .modal-header
        %h3
          = @layer.name
      .modal-body
        %b.label.success Description :
        = @layer.description 
        .clear

= render :partial => "shared/category_chooser_modal"              
.actions{:class => "noleftpadding"}
  = link_to 'Retour', layers_path, :class => "btn"
  = link_to 'Editer', edit_layer_path(@layer), :class => "btn primary"

:javascript
  var layerNames = "#{@layer.name}";
  var layerWmsUrl = "#{@layer.wms_url}";
  var layerTitle = "#{@layer.title}";
= javascript_include_tag "mapLayerInit"
