=# display_breadcrumb
= map_js
= content_for :javascripts do
  :javascript
    var layerNames = "#{@layer.name}";
    var layer_id = "#{@layer.id}";
    var layerWmsUrl = "#{@layer.wms_url}";
    var layerTitle = "#{escape_javascript(@layer.title)}";
    var layer_metadata_link = "#{@layer.metadata_link}";
    var layerCredits = "#{escape_javascript(@layer.credits)}";
  = javascript_include_tag "mapLayerInit"
  = javascript_include_tag "sharedControlers"


#category_chooser
  = render :partial => "shared/tabs"              

#map_container
  = render :partial => 'shared/content_toolbar'
  #geo-group
    #group-slider.slider-container.vertical-right
      %a.info-slider.left.right{:href => "#"} &nbsp;

    %h3 Dernières mises à jour
    .geo-contexts
      - last_layers.each do |layer|
        .geo-context{ :class => layer == @layer ? "active" : "" }
          .geo-img
            - if layer == @layer 
              = image_tag layer.thumb, alt: layer.title
            - else
              = link_to layer do 
                = image_tag layer.thumb, alt: layer.title
          .geo-name
            .text
              = layer.title
            .geo-date
              = layer.last_date.strftime('%d-%m-%Y')

  #map.with_group
    %span#coords
    = render "shared/map_infos", item: @layer
  .clear

#features
  .clear
= link_to 'wmc', @geo_context.wmc.url, :id => "wmc"
=# render :partial => "shared/category_chooser_modal"              
