.no_visualisor
  #contact_form
    .breadcrumb
      %h2 Contacter Bretagne Environnement
      %br
      = simple_form_for(:contact ,  :builder => SimpleBootstrapFormBuilder,  :url => post_mail_contact_index_path) do |f|
        .inputs
          .input
            = f.input :last_name, :input_html => { :class => "xlarge span6" }
          .input
            = f.input :first_name, :input_html => { :class => "xlarge span6" }
          .input
            = f.input :email, :input_html => { :class => "xlarge span6" }
          .input
            = f.input :message, :as => :text, :cols => 25, :rows => 15, :input_html => { :class => "xlarge not_resizable span8" }
          .actions
            .input 
              =# f.submit t(:send_message).html_safe, :class => "btn primary"
              %button.btn.primary{:type => "submit"}
                = t(:send_message).html_safe
