#footerContent
  %span.logo
    = image_tag('gipbe/logo_footer.jpg', :alt => "logo du bas", :width => "245")

  %ul.footerMenuTop
    %li.first
      = link_to "Infos L&eacute;gales".html_safe, "#"
    %li
      = link_to "Contact", contact_index_path
    %li
      = link_to "Flux RSS", rss_path

  .credits
    .rte
      .object-right
        = image_tag('gipbe/logo-EU.jpg', :alt => "Logo Europe")
      %p
        %i
          le GIP Bretagne Environnement est cofinanc&eacute; par l'Union Europ&eacute;enne
      %p
        %i
          L'Europe s'engage en Bretagne avec le fonds europ&eacute;en de d&eacute;veloppement r&eacute;gional
