.menu-header
  %ul
    %li.first
      = link_to 'Visualiseur', root_path
    -if false
      %li
        = link_to 'Projets', geo_contexts_path
      %li
        = link_to 'Aide', page_path(AppConfig.page_help_id)
    %li
      = link_to 'Catalogues', layers_path
    %li
      = link_to 'Ressources', '#'

  %br.breaker
