#header
  %h1
    %span
      = title
    %a{ :href => root_path, :title => "Accueil"}
      = image_tag "gipbe/logo-bretagne-envirronnement.jpg"
  .header-right
    = render :partial => "shared/gipbe/rightHeaderPart"

  .breaker
  = render :partial => "shared/gipbe/headerMenu"

= render :partial => "shared/gipbe/headerMenuBottom"
