.menu-header
  %ul
    %li.first
      = link_to 'Visualiseur', root_path, :id => "visualisor_link", :"data-original-title" => "R&eacute;initialisation"
    -if false
      %li
        = link_to 'Projets', geo_contexts_path
      %li
        = link_to 'Aide', page_path(AppConfig.page_help_id)
    %li
      = link_to 'Catalogue', layers_path
    %li
      = link_to 'Ressources', '#', :id => "resource_link"
      %ul.submenu.menu-dropdown
        - pages = Menu.find(AppConfig.resource_id, :include => :pages).pages.published
        - pages.each_with_index do |p,i|
          %li.pages
            = link_to p.title, p
          - if i != pages.count - 1
            %li.divider
           

  %br.breaker
