%ul
  %span
    Visitez aussi :
  %li.first
    = link_to "portail r&eacute;gional".html_safe, "http://www.bretagne-environnement.org/", :title => "cartographie dynamique", :target => "_blank"
  %li
    = link_to "observatoire biodiversit&eacute;".html_safe, "http://www.observatoire-biodiversite-bretagne.fr/", :title => "observatoire biodiversit&eacute;", :target => "_blank"
  %li
    = link_to "observatoire eau", "http://www.observatoire-eau-bretagne.fr/", :title => "observatoire eau", :target => "_blank"
  %li
    = link_to "observatoire &eacute;nergie".html_safe, "http://www.observatoire-energie-ges-bretagne.fr/", :title => "observatoire &eacute;nergie", :target => "_blank"
  %li
    = link_to "observatoire d&eacute;chets".html_safe, "http://www.observatoire-dechets-bretagne.org/", :title => "observatoire d&eacute;chets", :target => "_blank"
  %li
    = link_to "ma commune", "http://communes.bretagne-environnement.org/", :title => "ma commune", :target => "_blank"
  %li
    = link_to "Etudes", "http://etudes.bretagne-environnement.org/", :title => "Etudes", :target => "_blank"


