%ul
  %span
    Autres sites :
  %li.first
    = link_to "observatoire biodiversit&eacute;".html_safe, "http://www.biodiversite-bretagne.sdv.fr", :title => "observatoire biodiversit&eacute;"
  %li
    = link_to "observatoire eau", "http://www.eaubretagne.sdv.fr/", :title => "observatoire eau"
  %li
    = link_to "observatoire &eacute;nergie".html_safe, "http://www.observatoire-energie-ges-bretagne.sdv.fr/", :title => "observatoire &eacute;nergie"
  %li
    = link_to "observatoire d&eacute;chets".html_safe, "http://www.observatoire-dechets-bretagne.org/", :title => "observatoire d&eacute;chets"
  %li
    = link_to "ma commune", "http://commune.bretagne-environnement.org/", :title => "ma commune"
  %li
    = link_to "&eacute;tudes".html_safe, "http://etudes.breatgne-environnement.org/", :title => "&eacute;tudes"
  %li
    = link_to "cartographie dynamique", "http://cartographie.bretagne-environnement.org/", :title => "cartographie dynamique"


