!!!
%html
  %head
    %title Geocms
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application" 
    =# javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render :partial => "shared/header"
    .container-fluid
      .content
        = yield
