!!!
%html
  %head
    = stylesheet_link_tag    "application"
    = stylesheet_link_tag    "gipbe"
    = stylesheet_link_tag     "external"
    =# yield :stylesheets
    = javascript_include_tag "application"
    = yield :javascripts
    = csrf_meta_tags
    =# auto_discovery_link_tag( :rss, {:action => :index, :controller => :layers, :format => :rss})
  %body
    #content.chosen_thematic
      = yield
    
