!!!
%html
  %head
    %title Geocms
    = stylesheet_link_tag    "application"
    = stylesheet_link_tag    "gipbe"
    = stylesheet_link_tag  controller_name
    = yield :stylesheets
    = javascript_include_tag "application"
    = yield :javascripts
    = csrf_meta_tags
    = auto_discovery_link_tag( :rss, {:action => :index, :controller => :layers, :format => :rss})
  %body
    #wait
    #topLinks
      = render :partial => "shared/gipbe/top_links"
    #global.project-header
      = render :partial => "shared/gipbe/header"
      .breaker
      -# if current_user
      =# render :partial => "shared/admin_menu"
      #content.chosen_thematic
        = yield
      #footer
        = render :partial => "shared/gipbe/footer"

    =# render :partial => "shared/header"
    
