!!!
%html
  %head
    = display_meta_tags :site => "Cartographie dynamique des donn&eacute;es environnementales en Bretagne".html_safe
    :plain
      <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic' rel='stylesheet' type='text/css'>
    = stylesheet_link_tag    "application"
    = stylesheet_link_tag    "gipbe"
    = stylesheet_link_tag  controller_name
    = yield :stylesheets
    = javascript_include_tag Rails.env == "production" ? "javascript_configuration" : "javascript_configuration_dev"
    = javascript_include_tag "application"
    = render :partial => "shared/analytics"
    = yield :javascripts
    = csrf_meta_tags
    = auto_discovery_link_tag( :xml, {:action => :index, :controller => :layers, :format => :xml})
    = auto_discovery_link_tag( :rss, {:action => :index, :controller => :layers, :format => :rss})
    = auto_discovery_link_tag( :atom, {:action => :index, :controller => :layers, :format => :atom})
  %body
    #wait
    #topLinks
      = render :partial => "shared/gipbe/top_links"
    #global.project-header
      = render :partial => "shared/gipbe/header"
      .breaker
      -# if current_user
      =# render :partial => "shared/admin_menu"
      #content.chosen_thematic
        = yield
      #footer
        = render :partial => "shared/gipbe/footer"

    =# render :partial => "shared/header"
    #meta_dialog
      %iframe.content
    #dialog-confirm{:title => "Confirmation"}
      %p
        %span.ui-icon.ui-icon-alert{:style => "float:left; margin:0 7px 20px 0;"}>
        Voulez-vous vraiment supprimer cette couche de la carte ?
