!!!
%html
  %head
    %title Geocms
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    "gipbe", :media => "all"
    = yield :stylesheets
    = javascript_include_tag "application"
    = yield :javascripts
    = csrf_meta_tags
  %body
    #global.project-header
      #header
        %h1
          %span
            = title
          %a{ :href => root_path, :title => "Accueil"}
            = image_tag "gipbe/logo-bretagne-environnement.jpg"
      .breaker
      -# if current_user
      =# render :partial => "shared/admin_menu"
      #content.chosen_thematic
        = yield
      #footer
        #footerContent
          %span.logo
            = image_tag('gipbe/logo_footer.jpg', :alt => "logo du bas", :width => "245")
            
          .credits
            .rte
              .object-right
                = image_tag('gipbe/logo-EU.jpg', :alt => "Logo Europe")
              %p
                %i
                  le CIP Bretagne Environnement est cofinanc&eacute; par l'Union Europ&eacute;enne
              %p
                %i
                  L'Europ s'engage en Bretagne avec le fonds europ&eacute;en de d&eacute;veloppement r&eacute;gional
